// Here you can add other styles


//adding styles for banners
.banner-container {
    display: flex;
    overflow-x: scroll; /*horizontal scrolling*/
    gap: 10px;
}

.banner-container img {
    width:50%;
    max-width:200px;
    height:auto;
}

/* src/styles/CreateRole.scss */

/*.create-role-container {
  max-width: 500px;
  margin: 0 auto;
}*/

.form-group {
  margin-bottom: 20px;
}

#roleName {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

/*.permissions-section {
  margin-bottom: 20px;
}*/

.toggle-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch.active {
  background-color: #4caf50;
}

.toggle-knob {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.toggle-switch.active .toggle-knob {
  left: calc(100% - 25px);
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

  

